body {
  background: url(../images/bg_space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: Pattaya;
  src: url(../fonts/Pattaya/Pattaya-Regular.ttf);
}

h1 {
  font-size: 24px;
}

.main_img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;

  margin-top: 1em;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid yellow;
    z-index: 1;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

.block__row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0px 15px;
}

.block__column {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}

.block__column1 {
  flex-basis: 45px;
}

.block__column2 {
  flex-basis: 300px;
  font-family: Pattaya;
  text-align: center;
  margin-bottom: 5%;
}

.block__column3 {
  flex-basis: 300px;
  font-family: Pattaya;

  p {
    border: 3px double green;
  }
}

.block__item {
  padding: 0 20px;
  font-size: 20px;
  color: blue;
  font-weight: 300;
  margin: 0 3% 5% 3%;
  color: white;
  overflow: auto;
  height: 600px;
  margin: 0 3% 2% 3%;
  color: white;

  p {
    color: white;
  }

  div {
    text-align: center;
  }
}

.block__item1 {
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.main_menu {
  width: 93%;
}

span {
  color: #30d5c8;
}

p {
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
}

.email {
  color: white;
  background: #30d5c8;
  position: relative;

  &:hover {
    box-shadow: 0 0 5px 3px red;
    cursor: pointer;
  }
}

li {
  padding: 7px;
  width: 100%;
  margin: 0px 0px 5px 0px;
  background-color: #30d5c8;
  font-size: 16px;
  text-align: center;

  &:hover {
    box-shadow: 0 0 5px 5px red;
    transform: translateX(10px);
    cursor: pointer;
  }
}

h1 .blink,
.blink2,
.email p {
  text-align: center;
}

.blink2 {
  animation: blink 4s infinite;
}

.block__item_bg-wrapper {
  position: relative;

  &::before {
    content: "";
    background-image: url("../images/bg_geometry2.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1227px) {
  .block__row {
    flex-direction: column;
  }

  .main_menu {
    display: flex;
    margin: 0 auto;
  }

  .block__row {
    align-items: centerd;
  }
}

@media screen and (max-width: 557px) {
  .block__row {
    flex-direction: column;
  }

  .main_menu {
    display: block;
    margin: auto;
  }

  .block__row {
    align-items: centerd;
  }
}