body {
  background: url(images/bg_space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: Pattaya;
  src: url(fonts/Pattaya/Pattaya-Regular.ttf);
}

h1 {
  font-size: 24px;
}

.main_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid yellow;
  z-index: 1;
}

.main_img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

.block__row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0px 15px;
}

.block__column {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}

.block__column1 {
  flex-basis: 45px;
}

.block__column2 {
  flex-basis: 300px;
  font-family: Pattaya;
  text-align: center;
  margin-bottom: 5%;
}

.block__column3 {
  flex-basis: 300px;
  font-family: Pattaya;
}

.block__item {
  padding: 0 20px;
  font-size: 20px;
  color: blue;
  font-weight: 300;
  margin: 0 3% 5% 3%;
  color: white;
}

.block__item p {
  color: white;
}

.block__item_bg-wrapper {
  position: relative;
}
.block__item_bg-wrapper::before {
  content: "";
  background-image: url("images/bg_geometry2.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.block__item div {
  text-align: center;
}

.block__item1 {
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.main_menu {
  width: 93%;
}

li {
  padding: 7px;
  width: 100%;
  margin: 0px 0px 5px 0px;
  background-color: #30d5c8;
  font-size: 16px;
  text-align: center;
}

span {
  color: #30d5c8;
}

p {
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
}

.email {
  color: white;
  background: #30d5c8;
  position: relative;
}

.email:hover {
  box-shadow: 0 0 5px 3px red;
  cursor: pointer;
}

.shortcut_img {
  display: flex;
  justify-content: center;
  border: 2px solid white;
}

.shortcut_img img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.shortcut_img img:hover {
  transform: scale(1.8);
  box-shadow: 0 0 5px 2px red;
}

.block__column3 p {
  border: 3px double green;
}

.block__item {
  overflow: auto;
  height: 600px;
}

li:hover {
  box-shadow: 0 0 5px 5px red;
  transform: translateX(10px);
  cursor: pointer;
}

h1 .blink,
.blink2,
.email p {
  text-align: center;
}

.blink2 {
  animation: blink 4s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1227px) {
  .block__row {
    flex-direction: column;
  }

  .block__item {
    margin: 0 3% 2% 3%;
    color: white;
  }

  .main_menu {
    display: flex;
    margin: 0 auto;
  }

  .block__row {
    align-items: centerd;
  }
}
